<div class="cd-cart-container empty">
	<a href="#0" class="cd-cart-trigger">
		<ul class="count"> <!-- cart items count -->
			<li id="cart-count">0</li>
            <li>0</li>
		</ul> <!-- .count -->
        <i class="fa fa-shopping-bag" title="Koszyk"></i>
	</a>
 
	<div class="cd-cart">
		<div class="wrapper">
			<header>
				<h2>Koszyk</h2>
				<span class="undo">Artykuł usunięty. <a href="#0">Cofnij</a></span>
			</header>
			
			<div class="body">
				<ul>
					<!-- products added to the cart will be inserted here using JavaScript -->
				</ul>
			</div>
 
			<footer>
				<a href="/zamowienie/"  class="checkout"><em>Do kasy - <span id="cart-total">0</span> zł</em></a>
			</footer>
		</div>
	</div> <!-- .cd-cart -->
</div> <!-- cd-cart-container -->
