{% load i18n %}
<footer id="footer" class="page-footer">
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footer_links inline nav">
                        <li class="hvr-underline-from-center"><a href="/kontakt/">Kontakt</a></li>
                        <li class="hvr-underline-from-center"><a href="/regulamin/">Regulamin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
    {% endblock %}
</footer>