{% load i18n %}
<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container-fluid bg-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="header-links inline nav">
                            <li class="hvr-underline-from-center"><a href="/kontakt/">Kontakt</a></li>
                            <li class="hvr-underline-from-center"><a href="/regulamin/">Regulamin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="navbar-search">
        <div class="container-fluid bg-inverse p-a-1">
            <div class="container">
                <form method="get" action="{% url 'search:search' %}" class="row navbar-form navbar-right form-inline">
                    {{ search_form.q }}
                    <button type="submit" class="btn" title="{% trans "Search" %}">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="navbar-body" class="navbar navbar-light bg-faded navbar-static-top">
        <div class="container" style="margin-bottom: 8px;">
            <div class="row">
                <div class="col-md-8 col-sm-4 col-xs-4">
                    <a class="navbar-brand" href="/">
                        <span>Obudowy</span><span>Na</span><span>Telefon</span>
                    </a>
                </div>
                <div class="no-padding-left col-md-4 col-xs-8 col-sm-8" id="top-nav">
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link hvr-underline-from-center" data-toggle="collapse" data-target="#navbar-header">
                            <i class="fa fa-reorder" title="Menu"></i>
                        </a>
                        <a class="nav-item nav-link hvr-underline-from-center" data-toggle="collapse" data-target="#navbar-search">
                            <i class="fa fa-search" title="Szukaj"></i>
                        </a>
                        {% if request.user %}
                            <a class="nav-item nav-link hvr-underline-from-center" href="/konto/profile/">
                                <i class="fa fa-user" title="Moje konto"></i></a>
                        {% else %}
                            <a class="nav-item nav-link" href="/konto/login/">
                                <i class="fa fa-user" title="Moje konto"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
