<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container-fluid bg-inverse p-a-1">
            <h3>Collapsed content</h3>

            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
    <div id="navbar-body" class="navbar navbar-light bg-faded navbar-static-top">
        <div class="container" style="margin-bottom: 8px;">
            <div class="row">
                <div class="col-md-8">
                    <a class="navbar-brand" href="/">Logo</a>
                </div>
                <div class="col-md-4" id="top-nav">
                    <div class="nav navbar-nav row">
                        <a class="nav-item nav-link" data-toggle="collapse" data-target="#navbar-header">
                            <i class="fa fa-reorder" title="Menu"></i>
                        </a>
                        <a class="nav-item nav-link" href="#"><i class="fa fa-shopping-bag" title="Koszyk"></i></a>
                        <a class="nav-item nav-link" href="{% url 'customer:login' %}">
                            <i class="fa fa-user" title="Moje konto"></i></a>
                    </div>
                </div>
            </div>
        </div>
