{% load i18n %}
<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container-fluid bg-inverse p-a-1">
            <h3>Collapsed content</h3>

            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
    <div class="collapse" id="navbar-search">
        <div class="container-fluid bg-inverse p-a-1">
            <div class="container">
                <form method="get" action="{% url 'search:search' %}" class="row navbar-form navbar-right form-inline">
                    {{ search_form.q }}
                    <button type="submit" class="btn" title="{% trans "Search" %}">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="navbar-body" class="navbar navbar-light bg-faded navbar-static-top">
        <div class="container" style="margin-bottom: 8px;">
            <div class="row">
                <div class="col-md-8 col-sm-4">
                    <a class="navbar-brand" href="/">Logo</a>
                </div>
                <div class="col-md-4 no-padding-left col-sm-8" id="top-nav">
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link" data-toggle="collapse" data-target="#navbar-header">
                            <i class="fa fa-reorder" title="Menu"></i>
                        </a>
                        <a class="nav-item nav-link" data-toggle="collapse" data-target="#navbar-search">
                            <i class="fa fa-search" title="Szukaj"></i>
                        </a>
                        {% if request.user %}
                            <a class="nav-item nav-link" href="/konto/profile/">
                                <i class="fa fa-user" title="Moje konto"></i></a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'customer:login' %}">
                                <i class="fa fa-user" title="Moje konto"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
