		<li class="product">
			<div class="product-image">
				<a href="#0"><img src="{{image}}" alt="placeholder"></a>
			</div>
 
			<div class="product-details">
				<h3><a href="#0">{{title}}</a></h3>
 
				<span class="price">{{price}}</span>
 
				<div class="actions">
					<a href="#0" class="delete-item" data-line="{{ line }}">Usuń</a>
 
					<div class="quantity">
						<label for="cd-product-'+ productId +'">Ilość</label>
						<span class="select">
							<select data-line="{{ line }}" class="product-quantity" name="quantity">
								<option value="1">1</option>
								<option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
							</select>
						</span>
					</div>
				</div>
			</div>
		</li>
