{% extends 'layout.html' %}
{% load static %}
{% load shop_tags %}

{% block breadcrumbs %}
{% endblock %}

{% block page_content_id %}home-page-content{% endblock %}

{% block margin-top %}
    <div id="top-margin-home"></div>
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: -2rem">
        <div class="col-md-8 no-padding-right col-xs-12">
            <div class="front-card front-card-tall" style="background-image: url('/media/images/promotions/etui.png');
            background-size:cover;">
                <div class="front-card-title">
                    <a href="/katalog/opakowania-etui-folie/"><h2>Opakowania, etui, folie</h2></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 no-padding-left col-xs-12">
            <div class="front-card front-card-wall color-one" style="background-image: url('/media/images/promotions/charger.png');">
                <div class="front-card-title">
                    <a href="/katalog/smartfony/akcesoria-uniwersalne/ladowarki-kable/"><h2>Ładowarki</h2></a>
                </div>
            </div>
            <div class="front-card front-card-wall" style="background-image: url('/media/images/promotions/uchwyty.png');">
                <div class="front-card-title">
                    <a href="/katalog/smartfony/akcesoria-uniwersalne/uchwyty/"><h2>Uchwyty</h2></a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm-down">
        <div id="home-search" class="col-md-12 col-sm-12 col-xs-12 p-t-2 p-b-2">
            <form method="get" action="/szukaj/">
                <div class="row">
                    <label class="col-sm-4 col-md-4 col-lg-3 col-form-label col-form-label-lg" style="text-align:right;">
                        Czego szukasz ?
                    </label>

                    <div class="col-sm-5 col-md-5 col-lg-6" style="text-align: center;">
                        <input required class="form-control form-control-lg" id="id_q" name="q"
                               placeholder="np. etui iphone"
                               tabindex="1" type="search">
                    </div>
                    <div class="col-sm-3" style="text-align: left;">
                        <button type="submit" class="btn btn-lg" title="Szukaj">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="front-card front-card-wall" style="background-image: url('/media/images/promotions/apple.jpg');">
                <div class="front-card-title">
                    <a href="/katalog/smartfony/apple/"><h2>Apple</h2></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 no-padding-left">
            <div class="front-card front-card-wall gray-lighter p-t-1 p-b-1" style="background-image: url('/media/images/promotions/nietypowe.png');">
                <div class="front-card-title">
                    <a href="/katalog/nietypowe-etui/"><h2>Nietypowe etui</h2></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 gray-light">
            <div class="front-card front-card-wall" style="background-image: url('/media/images/promotions/samsung.jpg');">
                <div class="front-card-title">
                    <a href="/katalog/smartfony/samsung/"><h2>Samsung</h2></a>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron-front green">
        <h3>Darmowa wysyłka dla zamówień powyżej 100zł</h3>
    </div>
    <div class="">
        <div class="col-md-6 gray-lighter front-card col-xs-12" style="height: 250px; padding-top: 20px;">
            <h3>Cały katalog</h3>

            <div style="font-size: 64px; margin-top: 20px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
            <div class="front-card-title">
                <a href="/katalog/"><h2>Zobacz</h2></a>
            </div>
        </div>
        <div class="col-md-6 front-card col-xs-12" style="height: 250px; padding-top: 20px;
          background-image: url('/media/images/promotions/xdoria.jpg')">
            <h3>Stylowe i wytrzymałe</h3>

            <div class="front-card-title">
                <a href="/katalog/zzmarka/x-doria"><h2>X-Doria</h2></a>
            </div>
        </div>
    </div>
{% endblock %}
