{% extends 'layout.html' %}
{% load static %}
{% load shop_tags %}

{% block breadcrumbs %}
{% endblock %}

{% block page_content_id %}home-page-content{% endblock %}

{% block margin-top %}
    <div id="top-margin-home"></div>
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: -2rem">
        <div class="col-md-8 no-padding-right">
            <div class="front-card front-card-tall" style="background-image: url('/media/images/promotions/etui.png');
            background-size:cover;">
                <div class="front-card-title">
                    <a href="/katalog/opakowania-etui-folie/"><h2>Opakowania, etui, folie</h2></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 no-padding-left">
            <div class="front-card color-one" style="background-image: url('/media/images/promotions/charger.png');
            background-size:cover;">
                <div class="front-card-title">
                    <a href="/katalog/smartfony/akcesoria-uniwersalne/ladowarki-kable/"><h2>Ładowarki</h2></a>
                </div>
            </div>
            <div class="front-card" style="background-image: url('/media/images/promotions/uchwyty.png');
            background-size:cover;">
                <div class="front-card-title">
                    <a href="/katalog/smartfony/akcesoria-uniwersalne/uchwyty/"><h2>Uchwyty</h2></a>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron-front green">
            <h3>Darmowa wysyłka dla zamówień powyżej 100zł</h3>
    </div>
    <div class="">
        <div class="col-md-6 gray-lighter front-card" style="height: 250px; padding-top: 20px;">
            <h3>Cały katalog</h3>
            <div style="font-size: 64px; margin-top: 20px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
            <div class="front-card-title">
                <a href="/katalog/"><h2>Zobacz</h2></a>
            </div>
        </div>
          <div class="col-md-6 front-card" style="height: 250px; padding-top: 20px;
          background-image: url('/media/images/promotions/xdoria.jpg')">
            <h3>Stylowe i wytrzymałe</h3>
            <div class="front-card-title">
                <a href="/katalog/zzmarka/x-doria"><h2>X-Doria</h2></a>
            </div>
        </div>
    </div>
{% endblock %}