{% extends 'oscar/base.html' %}
{% load static %}
{% load jstemplate %}
{% load compress %}

{% block scripts %}
    {{ block.super }}
        {% compress js %}
            <!-- Twitter Bootstrap -->
            <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
            <!-- Oscar -->
            <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>

            <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript"
                    charset="utf-8"></script>
            <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}"
                    type="text/javascript" charset="utf-8"></script>
            <script src="{% static "bower_components/handlebars/handlebars.min.js" %}"></script>
            <script src="{% static "bower_components/knockout/knockout.js" %}"></script>
            <script src="{% static "bower_components/bootstrap-select/js/bootstrap-select.js" %}"></script>
            <script src="{% static "bower_components/bootstrap-treeview/src/js/bootstrap-treeview.js" %}"></script>
        {% endcompress %}
        {% compress js %}
            <script src="{% static "js/catalogue/cart.js" %}"></script>
            <script src="{% static "js/visible.js" %}"></script>
            <script src="{% static "js/utils.js" %}"></script>
            <script src="{% static "bower_components/seiyria-bootstrap-slider/src/bootstrap-slider.js" %}"></script>
        {% endcompress %}
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    {% handlebarsjs 'cart-product' precompile %}

{% endblock %}

{% block styles %}
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster|Noto+Serif|Work+Sans:400,300,500,600' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    {% compress css %}
        <link href="{% static "bower_components/bootstrap/scss/bootstrap.css" %}" rel="stylesheet">

        <!--<link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />-->
        <!-- Custom styles -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
        <link href="{% static "bower_components/bootstrap-select/css/bootstrap-select.css" %}" rel="stylesheet">
{#        <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">#}
        <link href="{% static "css/cart.css" %}" rel="stylesheet">
        <link href="{% static "bower_components/seiyria-bootstrap-slider/src/bootstrap-slider.css" %}" rel="stylesheet">

    {% endcompress %}
{% endblock %}

{% block body_class %} page-preloading {% endblock %}