{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}


{% block layout %}

    {% include 'partials/header.html' %}
    {% block jumbotron %}
    {% endblock %}
    <div id="fixed-top">
        {% block fixed_top %}
        {% endblock %}
    </div>
    <div id="fixed-top-spy-mark"></div>
    <div id="fixed-top-spy">
        <div class="container">
            {% block fixed_top_spy %}
            {% endblock %}
        </div>
    </div>
    <div class="container">
        <div id="page-content">
            {% block content_wrapper %}
                <div class="page">
                    {% block breadcrumbs %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
    {% include "partials/footer.html" %}
{% endblock %}
