{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}


{% block layout %}
    {% include 'partials/header.html' %}
        <div id="sub-header">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
        </div>
    </div>
    {% block margin-top %}
        <div class="top-margin"></div>
    {% endblock %}

    {% block jumbotron %}
    {% endblock %}
    <div id="fixed-top">
        {% block fixed_top %}
        {% endblock %}
    </div>
    <div id="fixed-top-spy-mark"></div>
    <div id="fixed-top-spy">
        <div class="container">
            {% block fixed_top_spy %}
            {% endblock %}
        </div>
    </div>
    <div class="container" id="page-container">
        <div id="{% block page_content_id %}page-content{% endblock %}">
            {% block content_wrapper %}
                <div class="page">
                    {% block content %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
    {% include "partials/footer.html" %}
    {% include "partials/cart.html" %}
{% endblock %}