{% extends "oscar/layout.html" %}
{% load staticfiles %}
{% load promotion_tags %}

{% block styles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "bower_components/bootstrap/scss/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}


{% block layout %}

    {% include 'partials/header.html' %}
    {# Main content of page - other layout templates may override this block #}
    {% block content %}
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}
