.page-footer ul li{
    display: inline-block;
    padding: 0.5rem;
}

.page-footer ul {
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

.promotion-wrapper {
    padding: 1rem;
}

.product-gallery div {
    margin: 1rem;
    min-width: calc(33% - 2rem);
}