#page-content {
  min-height: 20rem; }

.shop-card {
  border: none;
  min-height: 5rem; }

.front-card {
  height: 200px;
  text-align: center;
  position: relative; }
  .front-card .top {
    height: 0;
    border-width: 0 0 200px 200px;
    border-style: solid;
    border-color: transparent #d71f55 #d71f55 transparent; }
  .front-card .bottom {
    height: 50px;
    background-color: #d71f55; }
  .front-card .front-card-title {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    width: 100%; }
    .front-card .front-card-title h2 {
      cursor: pointer;
      padding: 1rem 1rem;
      background: #373a3c;
      font-size: 1.25rem;
      color: white;
      display: inline-block; }

.front-card-tall {
  height: 400px; }

.no-padding {
  padding: 0; }

.color-one {
  background-color: #eceeef; }

.color-two {
  background-color: white; }

.color-three {
  background-color: white; }

.green {
  background-color: #80c780; }

#top-nav {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem; }
  #top-nav a, #top-nav button {
    color: white;
    width: 33.33%;
    padding: 1.2rem 0;
    margin: 0;
    text-align: center;
    cursor: pointer; }
  #top-nav a:first-of-type {
    background-color: #0275d8; }
  #top-nav a:nth-of-type(2) {
    background-color: #0267bf; }
  #top-nav a:nth-of-type(3) {
    background-color: #025aa5; }

.page-footer {
  background-color: #373a3c;
  color: #eceeef; }
  .page-footer ul {
    list-style-position: inside;
    margin: 1rem 0;
    padding-left: 0; }
    .page-footer ul li {
      list-style: none;
      font-size: 0.875rem;
      display: inline-block;
      margin-right: 1rem; }
    .page-footer ul li:last-of-type {
      margin-right: 0; }

.product-card {
  position: relative;
  cursor: pointer;
  margin-left: -15px;
  margin-right: -15px;
  padding: 1rem;
  text-align: center; }
  .product-card .image {
    z-index: 1;
    height: 200px; }
    .product-card .image img {
      max-width: 70%;
      max-height: 200px; }
  .product-card .title {
    z-index: 1;
    margin-top: 1rem; }
  .product-card .buttons {
    position: absolute;
    z-index: 2;
    display: none;
    top: 150px; }
    .product-card .buttons a {
      text-decoration: none; }

.product-card:hover .buttons {
  display: block; }

.page {
  padding-bottom: 2rem; }

.product_page h2 {
  text-align: center;
  margin: 1rem 0 2rem 0; }

.add-to-basket {
  margin-bottom: 1rem; }

.fixed-top {
  position: fixed;
  top: 95px;
  width: 100%; }

#product-filters div:last-of-type {
  padding-right: 0; }
#product-filters div:first-of-type {
  padding-left: 0; }
#product-filters button {
  background-color: white;
  border-radius: 0;
  border: 1px solid #818a91; }

.hidden {
  display: none; }

.top-margin-home {
  margin-top: 62.375px; }

.top-margin {
  margin-top: 141px; }

#top-margin-catalogue {
  margin-top: 111px; }

#navbar-body {
  background-color: white;
  border-bottom: 1px solid #eceeef;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }

.top-jumbotron {
  margin-bottom: 3rem; }

#filters-list {
  float: right; }
  #filters-list ul {
    list-style: none;
    padding: 0.75rem 1rem;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 0; }
    #filters-list ul li {
      display: inline-block;
      cursor: pointer; }
      #filters-list ul li span {
        color: #818a91; }
      #filters-list ul li i {
        margin-right: 5px; }
    #filters-list ul li:hover {
      text-decoration: line-through; }

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  margin-bottom: 0px; }
  .breadcrumb li {
    display: inline-block; }
  .breadcrumb li:after {
    content: " > "; }
  .breadcrumb li:last-of-type:after {
    content: ""; }

#top-nav-border {
  border-top: 0px solid #eceeef;
  width: 100%;
  margin-left: -1rem;
  margin-top: 0.5rem; }

.jumbotron-front {
  padding: 2rem 2rem;
  text-align: center; }

.front-alert {
  z-index: 100000;
  position: fixed; }

#message-add-to-cart {
  top: 100px;
  right: 100px; }

.sub-header {
  background-color: #f7f7f9; }

#products-end {
  clear: both; }

ul {
  list-style: none; }

.carousel-inner .item {
  display: none; }
.carousel-inner .active {
  display: block; }

#navbar-header, #navbar-search {
  color: white; }

#navbar-search input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  border-radius: 0; }

/*# sourceMappingURL=style.css.map */
