{#{% load inlinecss %}#}
{% load i18n %}
{% load compress %}
{% load static %}
{#{% inlinecss "css/inline.css" %}#}
{% compress css inline %}
    <link href="{% static "bower_components/bootstrap/scss/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/allegro.css" %}" rel="stylesheet">
{% endcompress %}
<div class="promotion-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ product.get_title }}</h2>
            <div id="product_description" class="sub-header">
                <hr/>
            </div>
            <p>{{ product.excerpt|safe }}</p>
            <div>
                {% for image in product.images.all %}
                    <div class="col-md-3" style="background-image: url('{{ image.original.url }}')">
                    </div>
                {% endfor %}
            </div>
            <p>{{ product.description|safe }}</p>

            <div class="sub-header">
                <hr>
                <h2 class="text-center">{% trans "Product Information" %}</h2>
            </div>
            <table class="table table-striped">
                {% if product.upc %}
                    <tr>
                        <th>{% trans "UPC" %}</th>
                        <td>{{ product.upc }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Product Type" %}</th>
                    <td>{{ product.get_product_class.name }}</td>
                </tr>

                {% for av in product.attribute_values.all %}
                    <tr>
                        <th>{{ av.attribute.name }}</th>
                        <td>{{ av.value_as_html }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="page-footer">
    <ul>
        <li>
            <a href="http://allegro.pl/SendMailToUser.php?userId=16508030" target="_blank">KONTAKT</a>
        </li>
        <li>
            <a rel="nofollow" href="http://www.allegro.pl/show_user_auctions.php?uid=16508030" target="_blank">INNE AUKCJE</a>
        </li>
        <li>
            <a rel="nofollow" href="http://www.allegro.pl/show_user.php?uid=16508030" target="_blank">KOMENTARZE</a>
        </li>
        <li>
            <a rel="nofollow" href="http://www.allegro.pl/my_page.php?uid=16508030" target="_blank">O NAS</a>
        </li>
    </ul>
</div>
