{% extends 'layout.html' %}
{% load static %}
{% load jstemplate %}

{% block jumbotron %}
{% endblock %}

{% block margin-top %}
    <div id="top-margin-catalogue"></div>
{% endblock %}

{% block breadcrumbs %}
    <div id="top-nav-border"></div>
    <div class="row">
        <div class="col-md-8">
            <ul class="breadcrumb">
                <li><a href="/">Strona główna</a></li>
                {% for p in path_list %}
                    {% if forloop.last %}
                        <li>{{ p.name }}</li>
                    {% else %}
                        <li><a href="{{ p.url }}">{{ p.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div id="filters-list"><ul></ul></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-hidden tree-list sidebar">
            <div id="tree" data="{{ tree_data }}"></div>
        </div>
        <div class="col-md-10 col-sm-12">
            <div id="product-filters" class="row">
                <form class="form">
                    {% for name, data in attributes.items %}
                        <div class="col-md-4">
                           <select class="form-control selectpicker" {% if not data.multiselect %} data-max-options="1" {% endif %}
                                   title="{{ name }}"
                                   multiple
                                   data-live-search="true"
                                   {% if data.multiselect %}
                                    data-selected-text-format="count > 3"
                                   {% endif %}
                                   data-attribute="{{ data.id }}">
                               {% for name, data in data.attributes_values.items %}
                                   <option name="{{ name }}" value="{{ data.ids }}">{{ name }}</option>
                               {% endfor %}
                           </select>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div id="products-container"></div>
        </div>
    </div>
    
    <div><input type="hidden" id="product-categories" value="{{ categories }}" /></div>
{% endblock %}

{% block extrascripts %}
  {% handlebarsjs 'product' precompile %}
  {% handlebarsjs 'filters' precompile %}
  {% handlebarsjs 'add-to-cart' precompile %}
  <script src="{% static "js/catalogue/catalogue.js" %}"></script>
{% endblock %}
