{% extends 'layout.html' %}
{% load static %}
{% load jstemplate %}

{% block jumbotron %}
{% endblock %}

{% block margin-top %}
    <div id="top-margin-catalogue"></div>
{% endblock %}

{% block breadcrumbs %}
    <div id="top-nav-border"></div>
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12 hidden-sm-down">
            <ul class="breadcrumb">
                <li><a href="/">Początek</a></li>
                {% for p in path_list %}
                    {% if forloop.last %}
                        <li>{{ p.name }}</li>
                    {% else %}
                        <li><a href="{{ p.url }}">{{ p.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-5 hidden-sm-down">
            <div id="filters-list">
                <ul data-bind="foreach: filters">
                    <li data-bind="foreach: selectedOptions">
                        <!--ko text: $parent.name+': '--><!--/ko-->
                        <span data-bind="text: $data,
                        click: $root.removeFilter, attr: {'data-index': $parentContext.$index()}"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 hidden-md-up">
            <ul class="breadcrumb">
                <li><a href="{{ return }}">Powrót</a></li>
                <li><a>{{ name }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% block variables %}
        <form id="variables">
            <input type="hidden" name="filters" value="{{ filters }}">
            <input type="hidden" name="categories" value="{{ categories }}">
            <input type="hidden" name="product_classes" value="{{ product_classes }}">
        </form>
    {% endblock %}
    <div class="row">
        {% block page_sidebar %}
            <div class="col-md-2 hidden-sm-down tree-list sidebar">
                <div id="tree" data="{{ tree_data }}"></div>
            </div>
        {% endblock %}
        <div class="col-md-{% block content_width %}10{% endblock %} col-sm-12 col-xs-12">
            {% block mobile_filters %}
                <div class="row m-b-1 hidden-md-up" data-bind="if: filters && (filters().length > 0)">
                    <div class="col-sm-6 col-xs-6 pull-left">
                        <button id="show-categories" class="btn btn-default dropdown-toggle" style="width:100%;" data-bind="click: showCategories">
                            Kategoria
                        </button>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <button id="show-filters" class="btn btn-default" style="width:100%;" data-bind="click: showFilters">
                            Pokaż filtry
                        </button>
                    </div>
                </div>
                <div id="mobile-tree" data="{{ tree_data }}" class='hidden-sm-down hidden-md-up'></div>
            {% endblock %}
            <div id="product-filters-container" class="hidden-sm-down">
                <div id="product-filters" class="row">
                    <form class="form" data-bind="template: { name: 'filter-template', foreach: filters }">
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12 m-b-1">
                        {#                    <label class="m-r-2" for="price-slider">Zakres cen</label>#}
                        <span id="price-from"></span><span>zł</span>
                        <input class="form-control" id="price-slider" type="text" name="prices"/>
                        <span id="price-to" data-bind="text: priceRange.max"></span><span>zł</span>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <select class="form-control pull-right sort-select"
                                data-bind="options: sortOptions, optionsText: 'name', selectedOptions: selectedSortOption,
                                optionsValue: 'id', event: { change: loadData() }">
                        </select>
                    </div>
                </div>
            </div>
            <div id="products-container" data-bind="template: { name: 'product-template', foreach: products }"></div>
        </div>
    </div>
    <div id="products-end" style="position: relative; top: -50px;"></div>

    <script type="text/html" id="filter-template">
        <div class="col-md-4 col-sm-6 col-xs-12" data-bind="visible: options.length > 0">
            <select class="form-control selectpicker"
                    data-live-search="true"
                    data-selected-text-format="count > 3"
                    data-bind="if: name=='Kompatybilność', options: options, optionsText: 'text', selectedOptions: selectedOptions, optionsValue: 'slug',
                   event: { change: $parent.selectionChanged },
                   optionsAfterRender: $parent.setOptionDisable,
                   attr: { title: name }">
            </select>  
            <select class="form-control selectpicker"
                    multiple
                    data-live-search="true"
                    data-selected-text-format="count > 3"
                    data-bind="if: name!='Kompatybilność' options: options, optionsText: 'text', selectedOptions: selectedOptions, optionsValue: 'slug',
                   event: { change: $parent.selectionChanged },
                   optionsAfterRender: $parent.setOptionDisable,
                   attr: { title: name, 'data-max-options': typeof(multiple) == 'undefined' ? '1' : null }">
            </select>
        </div>
    </script>

    <script type="text/html" id="product-template">
        <div class="col-md-4">
            <div class="product-card" data-bind="attr: {'data-id': id}">
                <div class="image">
                    <a data-bind="attr: {href: front_url }"><img
                            data-bind="attr: {src: images.length > 0 ? images[0].original : 'media/images/no_picture.jpg'}"/></a>
                </div>
                <div class="title">
                    <a data-bind="attr: {href: front_url }"><h5 data-bind="text: limit(title)"></h5></a>
                </div>
                <div data-bind="if: is_available" class="price">
                    <span data-bind="text: $parent.formatCurrency(price)"></span>
                </div>
                <div data-bind="if: !is_available" class="not-available">
                    <span>Produkt niedostępny</span>
                </div>
            </div>
        </div>
    </script>


{% endblock %}

{% block extrascripts %}
    {% handlebarsjs 'product' precompile %}
    {% handlebarsjs 'filters' precompile %}
    {% handlebarsjs 'add-to-cart' precompile %}
    <script src="{% static "js/catalogue/catalogue.js" %}"></script>
{% endblock %}
