{% extends 'layout-full.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <form class="form">

               <div class="dropdown open col-md-4">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>

                <div class="col-md-4">
                   <select class="form form-control">
                        <option value="-1">Marka</option>
                       {% for b in brands %}
                           <option name="{{ b.name }}" value="{{ b.id }}">{{ b.name }}</option>
                       {% endfor %}
                   </select>
                </div>
                <div class="col-md-4">
                   <select class="form form-control">
                        <option value="-1">Model</option>
                       {% for m in models %}
                           <option name="{{ m.name }}" value="{{ m.id }}">{{ m.name }}</option>
                       {% endfor %}
                   </select>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}