{% extends 'layout.html' %}
{% load static %}
{% load jstemplate %}

{% block content %}
    <div class="row">
        <form class="form">
            {% for a in attributes %}
                <div class="col-md-4">
                   <select class="form form-control">
                        <option value="-1">{{ a.name }}</option>
                       {% for v in a.values.all %}
                           <option name="{{ v.value_text }}" value="{{ v.id }}">{{ v.value_text }}</option>
                       {% endfor %}
                   </select>
                </div>
            {% endfor %}
        </form>
    </div>
    <div id="products-container"></div>

{% endblock %}

{% block extrascripts %}
  {% handlebarsjs 'product' precompile %}
  <script src="{% static "js/catalogue/etui.js" %}"></script>
{% endblock %}