{% extends 'layout.html' %}
{% load static %}
{% load jstemplate %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid top-jumbotron">
      <div class="container">
        <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>
{% endblock %}

{% block margin-top %}
    <div id="top-margin-home"></div>
{% endblock %}

{% block breadcrumbs %}
    <div id="top-nav-border"></div>
    <div class="row">
        <div class="col-md-6">
            <ul class="breadcrumb">
                <li><a href="/">Strona główna</a></li>
                <li>Opakowania na telefon</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div id="filters-list"><ul></ul></div>
        </div>
    </div>
{% endblock %}

{% block fixed_top_spy %}
    <div id="product-filters" class="row">
        <form class="form">
            {% for name, data in attributes.items %}
                <div class="col-md-4">
                   <select class="form-control selectpicker" {% if not data.multiselect %} data-max-options="1" {% endif %}
                           title="{{ name }}"
                           multiple
                           data-live-search="true"
                           {% if data.multiselect %}
                            data-selected-text-format="count > 3"
                           {% endif %}
                           data-attribute="{{ data.id }}">
                       {% for name, data in data.attributes_values.items %}
                           <option name="{{ name }}" value="{{ data.ids }}">{{ name }}</option>
                       {% endfor %}
                   </select>
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}

{% block content %}
    <div id="products-container"></div>

{% endblock %}

{% block extrascripts %}
  {% handlebarsjs 'product' precompile %}
  {% handlebarsjs 'filters' precompile %}
  {% handlebarsjs 'add-to-cart' precompile %}
  <script src="{% static "js/catalogue/catalogue.js" %}"></script>
{% endblock %}
